body{
    text-align: center;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: royalblue;
    user-select: none;
}



h1{
    text-align: center;
    font-size:80px;
    text-shadow: 10px 10px 20px red;
    font-family: 'Rubik Iso', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h2{
    color: red;
    font-size: 50px;
    font-family: 'Anton', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 20px;
    user-select: text;
}


button{
    font-size: 60px;
    color: whitesmoke;
    background-color: royalblue;
    border: none;
    cursor: pointer;
}


table{
    margin-left: auto;
    margin-right: auto;
}